.dx-texteditor-input {
  font-weight: bold;
}
.dx-field-item-label-text {
  font-weight: 400;
}

.alignRight {
 text-align-last: right !important;
}
.alignLeft {
  text-align-last: left !important;
 }