registry=https://pkgs.dev.azure.com/1370773/Portal2020/_packaging/portalv2/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/1370773/Portal2020/_packaging/portalv2/npm/registry/:username=1370773
//pkgs.dev.azure.com/1370773/Portal2020/_packaging/portalv2/npm/registry/:_password=ZG9xamxuNHJldm54N25oaGUzdWdtZGFndXZ3b3ZqbnB1cXprem5qbnQ1NjI2cWJlbW9zYQ==
//pkgs.dev.azure.com/1370773/Portal2020/_packaging/portalv2/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/1370773/Portal2020/_packaging/portalv2/npm/:username=1370773
//pkgs.dev.azure.com/1370773/Portal2020/_packaging/portalv2/npm/:_password=ZG9xamxuNHJldm54N25oaGUzdWdtZGFndXZ3b3ZqbnB1cXprem5qbnQ1NjI2cWJlbW9zYQ==
//pkgs.dev.azure.com/1370773/Portal2020/_packaging/portalv2/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
